/* Your CSS here */

IMG.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.main-button{

}

.timer-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:red;
}

#body{
  background-color: red;
}
